{% extends 'base.html.twig' %}

{% block head_title %}{{ head_title }}{% endblock %}

{% block body %}
    <div class="page-header">
		<h1>Account index</h1>
	</div>
	<p>Details of the account</p>
	{{ dump(customer) }}
{% endblock %}
