body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

form .gender {
	display: inline-block;
}

#account_addresses p.text-center {
	margin-top: 50px;
}

#address_delete .address-block {
	border: solid 1px #D3D3D3;
	overflow: auto;
}

#address_delete .address-block form{
	margin: 10px 0;
}